<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Organizador de listas</title>
        <meta name="viewport" content="initial-scale=1,width=device-width">
        <style>
            .app-fab--absolute{
                position: fixed !important;
                bottom: 1.5rem;
                right: 1.5rem;
            }
        </style>
        <script data-loadlify="true" src="node_modules/loadlify/loadlify.min.js" async></script>
        <script>
            self.loading={};
            document.querySelector("[data-loadlify='true']").onload=()=>{
                let mdcversion="latest";
                /*Begin Loadlify config*/
                loadlify.flags=["es6"];
                loadlify.deps["core.js"]=["dexie", "events.js"];
                loadlify.deps["events.js"]=["mdcontrol.js"];
                loadlify.deps["theme.css"]=["font-roboto", "materialIcons"];
                loadlify.deps["index.js"]=["vue", "vue-router", "core.js", "theme.css"];
                loadlify.deps["mdcontrol.js"]=["material-components-web-js", "vue"];

                //Unpacked defs
                loadlify.defs["font-roboto"]="https://fonts.googleapis.com/css?family=Roboto:300,400,500";

                /*Begin Loadlify defs*/
                loadlify.defs["dexie"]="node_modules/dexie/dist/dexie.min.js";
                loadlify.defs["material-components-web"]="node_modules/material-components-web/dist/material-components-web.min.css";
                loadlify.defs["material-components-web-js"]="node_modules/material-components-web/dist/material-components-web.min.js";
                loadlify.defs["vue"]="node_modules/vue/dist/vue.min.js";
                loadlify.defs["vue-router"]="node_modules/vue-router/dist/vue-router.min.js";
                /*End Loadlify defs*/
                /*End Loadlify config*/

                self.loading.index=load("index.js", ["noprefix", "noflagsindeps"]);
            }
        </script>
    </head>
    <body class="mdc-typography">
        <div id="app">
            <nav class="mdc-tab-bar" role="tablist" id="barra_nav">
                <div class="mdc-tab-scroller">
                    <div class="mdc-tab-scroller__scroll-area">
                        <div class="mdc-tab-scroller__scroll-content">
                            <router-link class="mdc-tab" active-class="mdc-tab--active"
                            v-for="item in opciones" :key="item" v-bind:to="item.toLowerCase()">
                                <span class="mdc-tab__content">
                                    <span class="mdc-tab__text-label">{{item}}</span>
                                </span>
                                <span class="mdc-tab-indicator">
                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                </span>
                                <span class="mdc-tab__ripple"></span>
                            </router-link>
                        </div>
                    </div>
                </div>
            </nav>
            <router-view></router-view>
        </div>
        <div id="dialog-place"></div>
        <div id="dialogo-listas"></div>
        <div id="dialogo-asignables"></div>
    </body>
</html>
