.fullwidth{
    width: 100%;
}

@media (min-width: 900px){
    div[data-organizador='opciones']{
        width: 80%;
        margin: 0 auto;
        margin-top: 5%;
    }
}

@mixin crossfit-content ($property){
    #{$property}: -moz-fit-content;
    #{$property}: -webkit-fit-content;
    #{$property}: fit-content;
}

.mdc-select__native-control{ // MDC establece la propiedad appearance, pero los navegadores no la aceptan todavía. En su lugar usaremos prefijos
    -moz-appearance: none;
    -webkit-appearance: none;
}

.mdc-text-field__input{
    -moz-appearance: none;
    -webkit-appearance: none;
}

a.material-icons{
    text-decoration: none;
}

[data-asignables="busqueda"]+[data-asignables="reiniciar"]{
    margin-top: $global-vertical-margin;
}

[data-organizador="opciones"]{
    padding: 5%;

    [data-opciones="block"]{
        margin-bottom: $global-vertical-margin;
    }
}

[data-organizador="titulo"]{
    @include mdc-typography($global-title-style);
}

.mdc-dialog{
    @include mdc-dialog-min-width(75vw);
}

[data-organizador="exportar"]{
    select[multiple]{
        width: 20%;
        margin-bottom: $global-vertical-margin;
        vertical-align: top;

        @include crossfit-content(min-width);
    }

    [data-organizador='tabla']{
        width: 80%;
        margin: 0 auto;

        &,td,th{
            border: 1pt solid black;
            border-collapse: collapse;
        }

        td,th{
            padding: 4pt;

            &:first-child{
                width: 20%;
            }
        }

        thead tr{
            background-color: $mdc-theme-primary;
            color: $mdc-theme-on-primary;
        }

        &+button{
            margin: $global-vertical-margin auto;
        }
    }
}

[data-opciones-s="selector-dia"]{
    &>div{
        display: inline-block;

        &:last-child{
            margin-right: 10pt;
        }
    }
}

[data-opciones-s="addd"]{
    button{
        display: block;
        margin-top: $global-vertical-margin;
    }
}
