@media print{
    html,body{
        margin: 0;
        width: 100%;
    }

    nav{
        display: none;
    }

    [data-organizador="exportar"]{
        &>*{
            display: none;
        }

        table{
            display: table;
            width: 100% !important;
            margin: 0;
        }

        h2[contenteditable="true"]{
            display: block;
            text-align: center;
        }
    }
}
