$mdc-theme-primary: #795548;
$mdc-theme-secondary: #ffb74d;
$global-vertical-margin: 2vh;
$global-title-style: "headline5";

@import "node_modules/material-components-web/material-components-web";
@import "lib/scss/custom";
@import "lib/scss/print.scss";
