<div data-organizador="asignables">
    <h2 data-organizador="titulo">Personas asignables en la base de datos</h2>
    <div data-asignables="busqueda" data-mdc-auto-init="MDCTextField"
    v-if="$router.options.data.asignables.length>10"
    class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon fullwidth">
        <i class="material-icons mdc-text-field__icon" tabindex="0" role="button">search</i>
        <input type="search" id="busqueda-asignables" data-asignables="busqueda-input" class="mdc-text-field__input"
        v-on:keyup="$router.options.methods.events.busquedaAsignables($event.target)">
        <label for="busqueda-asignables" class="mdc-floating-label">Buscar por nombre</label>
        <div class="mdc-line-ripple" data-mdc-auto-init="MDCLineRipple"></div>
    </div>
    <button data-asignables="reiniciar" class="mdc-button mdc-button--outlined" v-if="data.asignables.length" v-on:click="$router.options.methods.clearTimes">
        <i class="material-icons">clear</i> Reiniciar contadores
    </button>
    <ul class="mdc-list mdc-list--two-line" v-if="$router.options.data.asignables">
        <li class="mdc-list-item" v-for="persona in $router.options.data.asignables"
        v-if="!$route.query.search||persona.nombre.match($route.query.search)"
        v-on:click="$router.options.methods.modAsignables(persona)">
            <span class="mdc-list-item__text">
                <span class="mdc-list-item__primary-text">{{persona.nombre}}</span>
                <span class="mdc-list-item__secondary-text">
                    <span v-if="!persona.repite">No r</span><span v-else>R</span>epite.
                    Asignado {{persona.veces_asignado}} <span v-if="persona.veces_asignado==1">vez</span><span v-else>veces</span>.
                    Disponible {{Object.keys(persona.dias).length}} días a la semana.
                </span>
            </span>
        </li>
    </ul>
    <button class="mdc-fab material-icons app-fab--absolute" v-on:click="$router.options.methods.modAsignables('nuevo')">
        <span class="mdc-fab__icon">
            add
        </span>
    </button>
</div>
