<aside id="multi_dialog" class="mdc-dialog">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <h2 class="mdc-dialog__title">{{dialog_title}}</h2>
            <section class="mdc-dialog__content">
                {{dialog_body}}
            </section>
            <footer class="mdc-dialog__actions">
                <button type="button" v-if="dialog_cancel!=''" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                    <span class="mdc-button__label">{{dialog_cancel}}</span>
                </button>
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept">
                    <span class="mdc-button__label">{{dialog_accept}}</span>
                </button>
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</aside>
