<aside id="dialogo-listas__inner" class="mdc-dialog mdc-dialog--scrollable">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <header class="mdc-dialog__header">
                <div class="mdc-text-field mdc-text-field--box fullwidth" data-mdc-auto-init="MDCTextField">
                    <input class="mdc-text-field__input" type="text" v-model="nombre">
                    <label class="mdc-floating-label mdc-floating-label--float-above">Nombre de la lista</label>
                    <div class="mdc-line-ripple"></div>
                </div>
            </header>
            <section class="mdc-dialog__content">
                <div v-for="dia in Object.keys(lista)">
                    <h4><b>{{dia}}</b></h4>
                    <span>Asignados al día: <span v-for="persona in lista[dia]">{{persona}}, </span>{{lista[dia].length}} personas.</span>
                </div>
            </section>
            <footer class="mdc-dialog__actions">
                <button type="button" v-if="reverse" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept">{{aceptar}}</button>
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel">{{cancelar}}</button>
                <button type="button" v-if="!reverse" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept">{{aceptar}}</button>
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</aside>
