<aside id="dialogo-asignables__inner" class="mdc-dialog">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <h2 class="mdc-dialog__title">{{data.nombre}}</h2>
            <section class="mdc-dialog__content">
                <div class="mdc-text-field mdc-text-field--box fullwidth" data-mdc-auto-init="MDCTextField">
                    <input class="mdc-text-field__input" type="text" v-model="data.nombre">
                    <label class="mdc-floating-label mdc-floating-label--float-above">Nombre:</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <br><br>
                <label for="dias_disponible">Días disponible:</label><br>
                <select v-model="data.dias" class="fullwidth" id="dias_disponible" multiple>
                    <option v-for="dia in dias" v-if="dia!=''" v-bind:value="dia.nombre">{{dia.nombre}}</option>
                </select>
                <br><br>
                <div class="mdc-text-field mdc-text-field--box fullwidth" data-mdc-auto-init="MDCTextField">
                    <input type="number" v-model.number="data.veces_asignado" class="mdc-text-field__input">
                    <label class="mdc-floating-label mdc-floating-label--float-above" for="veces_asignado">Veces asignado</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <br><br>

                <div class="mdc-form-field" data-mdc-auto-init="MDCFormField">
                    <div class="mdc-checkbox" data-mdc-auto-init="MDCCheckbox">
                        <input id="repite" class="mdc-checkbox__native-control" type="checkbox" v-model="data.repite">
                        <div class="mdc-checkbox__background">
                            <svg class="mdc-checkbox__checkmark"
                                viewBox="0 0 24 24">
                                <path class="mdc-checkbox__checkmark-path"
                                    fill="none"
                                    d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                            </svg>
                            <div class="mdc-checkbox__mixedmark"></div>
                        </div>
                    </div>
                    <label for="repite">Puede repetir</label>
                </div>
            </section>
            <footer class="mdc-dialog__actions">
                <button type="button" v-if="reverse" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept">
                    <span class="mdc-button__label">{{aceptar}}</span>
                </button>
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel">
                    <span class="mdc-button__label">{{cancelar}}</span>
                </button>
                <button type="button" v-if="!reverse" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept">
                    <span class="mdc-button__label">{{aceptar}}</span>
                </button>
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</aside>
