<div data-organizador="exportar">
    <h2 data-organizador="titulo" contenteditable="true">Exportar lista como tabla</h2>
    <div>
        <label for="selectorDias">Listas para exportar</label>
        <select class="fullwidth" multiple v-model="data.exportar">
            <option v-if="!data.listas.length" disabled selected>No hay listas</option>
            <option v-for="lista in data.listas" v-bind:value="data.listas.indexOf(lista)">{{lista.nombre}}</option>
        </select>
    </div>
    <table
        v-if="data.listas.length&&data.exportar.length"
        data-organizador="tabla"
        data-exportar="parent">
        <thead>
            <tr>
                <th></th> <!-- Vacía para permitir que el nombre de cada lista vaya en la primera columna -->
                <th v-for="dia in data.config.dias">{{dia.nombre}}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="lista in data.exportar" :key="lista">
                <td>
                    <p>{{data.listas[lista].nombre}}</p>
                </td>
                <td v-for="dia in data.listas[lista].lista">
                    <p v-for="persona in dia">{{persona}}</p>
                </td>
            </tr>
        </tbody>
    </table>
    <button v-if="data.exportar.length" class="mdc-button mdc-button--raised" v-on:click="$router.options.methods.print"><i class="material-icons">print</i> Imprimir</button>
</div>

