<div data-organizador="listas">
    <h2 data-organizador="titulo">Listas guardadas</h2>
    <!--Está será una lista con las consultas guardadas-->
    <ul class="mdc-list mdc-list--two-line">
        <li class="mdc-list-item" v-if="data.listas.length" v-for="lista in data.listas" v-on:click="$router.options.methods.modLista(lista)">
            <span class="mdc-list-item__text">
                <span class="mdc-list-item__primary-text">{{lista.nombre}}</span>
                <span class="mdc-list-item__secondary-text">
                    {{"Creada el "+new Date(lista.fecha).toLocaleString()}}
                </span>
            </span>
        </li>
    </ul>
    <button class="mdc-button mdc-button--outlined" v-on:click="$router.options.methods.limpiarListas" v-if="data.listas.length">
        <i class="material-icons">warning</i> Eliminar listas
    </button>
    <button class="mdc-fab material-icons app-fab--absolute" v-on:click="$router.options.methods.newList">
        <span class="mdc-fab__icon">add</span>
    </button>
</div>
