<div data-organizador="opciones" class="mdc-elevation--z2">
    <h2 data-organizador="titulo">Días para generar en las listas</h2>
    <div data-opciones="block" data-opciones-s="addd">
        <div class="mdc-text-field mdc-text-field--box" data-mdc-auto-init="MDCTextField">
            <label class="mdc-floating-label">Nuevo día</label>
            <input class="mdc-text-field__input" type="text" id="dia_add" v-model="data.config.dia_add">
            <div class="mdc-line-ripple"></div>
        </div>
        <button class="mdc-button mdc-button--raised" v-on:click="$router.options.methods.addDia">Añadir a la lista</button>
    </div>
    <div data-opciones="block">
        <ul class="mdc-list mdc-list--two-line">
            <li class="mdc-list-item" v-if="dia!=''" v-for="dia in data.config.dias" v-on:click.self="data.dselected=data.config.dias.indexOf(dia)">
                <span class="mdc-list-item__text">
                    <span class="mdc-list-item__primary-text">{{dia.nombre}}</span>
                    <span class="mdc-list-item__secondary-text">{{dia.personas}} asignados</span>
                </span>
                <a href="#" class="mdc-list-item__meta material-icons" v-on:click="$router.options.methods.delDia($event,dia)">delete</a>
            </li>
        </ul>
    </div>
    <div data-opciones="block" data-opciones-s="selector-dia">
        <div class="mdc-select" data-mdc-auto-init="MDCSelect">
            <i class="mdc-select__dropdown-icon"></i>
            <select class="mdc-select__native-control" v-model.number="data.dselected">
                <option v-for="dia in data.config.dias" :value="data.config.dias.indexOf(dia)">{{dia.nombre}}</option>
            </select>
            <label class="mdc-floating-label mdc-floating-label--float-above">Día</label>
            <div class="mdc-line-ripple"></div>
        </div>
        <div class="mdc-text-field mdc-text-field--box" data-mdc-auto-init="MDCTextField" v-if="data.config.dias[data.dselected]">
            <label class="mdc-floating-label mdc-floating-label--float-above">Asignados por día</label>
            <input class="mdc-text-field__input" type="number" v-model.number="data.config.dias[data.dselected].personas">
            <div class="mdc-line-ripple"></div>
        </div>
    </div>
</div>
